{% extends "base.html" %}

{% block title %}Payments{% endblock %}

{% block content %}
<div id="error-container">
    {% with messages = get_flashed_messages(with_categories=true) %}
        {% for category, message in messages %}
            <div class="{{category}}" >
                {{message}}<span class="closebtn" onclick="this.parentElement.style.display='none';">x</span>
            </div>
        {% endfor %}
    {% endwith %}
</div>
<section id="Greeting"><h1>Payments</h1></section>
<div id="Unit-Information">
    <table class="sortable">
        <thead>
            <tr>
                <th>Amount</th>
                <th>Paid</th>
                <th>Due Date</th>
                <th>Landlord First Name</th>
                <th>Landlord Last Name</th>
                <th>Landlord Phone Number</th>
                <th>Landlord Email</th>
                <th>Unit Number</th>
                <th>Address</th>
                <th>Payment Details</th>
            </tr>
        </thead>
        <tbody>
            {% for payment in tenant.payments %}
                <tr>
                    <td>{{ payment.amount }}</td>
                    <td>{{ payment.paid }}</td>
                    <td>{{ payment.due_date }}</td>
                    <td>{{ payment.landlord.first_name }}</td>
                    <td>{{ payment.landlord.last_name }}</td>
                    <td>{{ payment.landlord.phone_number }}</td>
                    <td>{{ payment.landlord.email }}</td>
                    <td>{{ payment.unit.unit_number }}</td>
                    <td>{{ payment.unit.address }}</td>
                    <td><a href="{{ url_for('tenant_bp.tenant_payment', tenant_id=tenant.id, payment_id=payment.id) }}" style="text-decoration: none;">{{payment.id}}</a></td>
                </tr>
            {% endfor %}
        </tbody>
    </table>
</div>    
{% endblock %}

{% block scripts %}
    <script src="{{ url_for('static', filename='sorttable.js') }}"></script>
{% endblock %}