{% extends "base.html" %}

{% block title %}Payment Details{% endblock %}

{% block content %}
<section id="Greeting"><h1>Payment Details</h1></section>
  <div id="Unit-Information">
    <table id="tenant-unit-table">
      <tr>
        <td>Amount:</td>
        <td>{{ payment.amount }}</td>
    </tr>
    {%if payment.paid %}
          <tr>
              <td>Paid:</td>
              <td>Yes</td>
          </tr>
    {% else %}
        <tr>
          <td>Paid:</td>
          <td><a href="{{ url_for('make_payment', payment_id=payment.id) }}">No, Make a payment?</a></td>
        </tr>  
    {% endif %}
    <tr>
        <td>Date:</td>
        <td>{{payment.date}}</td>
    </tr>
    <tr>
        <td>Landlord:</td>
        <td>{{ payment.landlord.first_name }} {{ payment.landlord.last_name }}</td>
    </tr>
    <tr>
      <td>Contact:</td>
      <td>{{ payment.landlord.phone_number }}</td>
    </tr>
    <tr>
      <td>Email:</td>
      <td>{{ payment.landlord.email }}</td>
    </tr>
    {% if payment.unit.unit_number %}
      <tr>
        <td>Unit Number:</td>
        <td>{{ payment.unit.unit_number }}</td>
      </tr>
    {% endif %}
    <tr>
      <td>Address:</td>
      <td>{{ payment.unit.address }}</td>
    </tr>
  </table>
  </div>
{% endblock %}