<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Setup TOTP</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='qrcode.css') }}">

    <script src="{{url_for('static', filename='qrcode.min.js')}}"></script>
    <script>
        window.onload = function () {
            function loadQRCode(uri) {
                var qrcode = new QRCode(document.getElementById("qrcode"), {
                    text: uri,
                    width: 300,
                    height: 300,
                });
            }
            loadQRCode('{{ totp_uri }}');
        };
    </script>
</head>

<body id="otp-body">
{% if totp_uri %}
<div class="totp-section">
    <p id="Scan">Scan the QR code with your Google Authenticator app or enter the key manually: {{ totp_secret }}</p>
    <div id="qrcode"></div>

    <form action="{{ url_for('landlord_bp.setup_totp') }}" method="post" id="otpform">
            <input type="text" placeholder="Enter OTP Number" name="OTP" id="OTP" required>
            <button type="submit" id="otp">Submit OTP</button>
    </form>
</div>
{% endif %}
</body>
</html>
