<!DOCTYPE html>
<html lang="en"> 

<head> 
    <meta charset="UTF-8"> 
    <meta name="viewport" content="width=device-width, initial-scale=1.0"> 
    <title>Landlord Sign Up</title> 
    <link rel="stylesheet" href="{{url_for('static', filename='backscript.css')}}"> 
</head> 

<body> 
    <div id="error-container">
        {% with messages = get_flashed_messages(with_categories=true) %}
            {% for category, message in messages %}
                <div class="{{category}}" >
                    {{message}}<span class="closebtn" onclick="this.parentElement.style.display='none';">x</span>
                </div>
            {% endfor %}
        {% endwith %}
    </div>
    <div class="container">
        <h1>Landlord Sign Up</h1>
        <form action="{{ url_for('landlord_bp.landlord_signup') }}" method="post">
            <input type="text" id="f_name" name="f_name" class ="enter"placeholder="First Name" required="Yes">
            <input type="text" id="l_name" name="l_name" class ="enter"placeholder="Last Name" required="Yes">
            <input type="number" id="phonenumber" name="phonenumber" class="enter"placeholder="Phone #" required="Yes">
            <input type="email" id="email" name="email" class ="enter"placeholder="Email" required="Yes">
            <input type="username" id="username" name="username" class ="enter"placeholder="Username" required="No">
            <input type="password" id="password" name="password" class="enter"placeholder="Password" required="Yes">
            <input type="password" id="confirmpassword" name="confirmpassword" class="enter" placeholder="Confirm Password" required="Yes" oninput="checkPasswordMatch()">
            <div id="passwordMatch" style="color: red;"></div>            

            <input type="submit" id="SignUp" value="Sign Up">
        </form>
        <div id = "login"> Already have an account? Login.</div>
    </div>
    <script src= "{{url_for('static', filename='backscript.js')}}"></script> 
</body> 

</html> 

