<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>LandLord Home</title>
    <link rel="stylesheet" href="static\landlordhome.css">
</head>

<body>
<h1 id="title">LandLord Home</h1>
<ul id = menu>
    <li>Add Unit</li>
    <li>Property Related Finances</li>
    <li>Contact Tenant</li>
    <li>Payments</li>
    <li>Log Out</li>
</ul>
<div class="pop-up" id="add-unit"></div>
<div class="pop-up" id="contact"></div>
<div class="pop-up" id="error"></div>

<div id = "landlord information">
    <p>Owning/Managing</p>
    <ul id = bio></ul>
    <table>
        <tr>
            <th>Unit</th>
            <th>Complex Address</th>
            <th>Rent</th>
            <th>Tenant</th>
            <th>Lease Date</th>
        </tr>
    </table>
</div>
<script src= "static\landlordhome.js"></script>
</body>

</html>