<!DOCTYPE html>
<html lang="en"> 

<head> 
    <meta charset="UTF-8"> 
    <meta name="viewport" content="width=device-width, initial-scale=1.0"> 
    <title>Payments</title> 
    <link rel="stylesheet" href="static\payments.css"> 
</head> 

<body> 
    <h1 id="title">Payments</h1>
    
    <button class="button">Log Out</button>
    <div class="tab">
        <button class="tablinks" onclick="switchTab(event, 'All')">All</button>
        <button class="tablinks" onclick="switchTab(event,'Late')">Late</button>
    </div>

    <div id = "All" class="tabcontent">
        <table>
            <tr>
                <th>Tenant</th>
                <th>Unit</th>
                <th>Complex Address</th>
                <th>Payment Due</th>
                <th>Date Paid</th>
                <th>Paid Status</th>
                
            </tr>
        </table>
        <button class="button">Add Maintenance</button>
    </div>
    <div id="Late" class="tabcontent">
        <table>
            <tr>
                <th>Tenant</th>
                <th>Unit</th>
                <th>Complex Address</th>
                <th>Payment Due</th>
                <th>Date Paid</th>
                <th>Paid Status</th>
                
            </tr>
        </table>
    </div>
    <button class="button">Go Back</button>
    <script src= "static\paymentHistory.js"></script> 
</body> 

</html> 