<!DOCTYPE html>
<html lang="en"> 

<head> 
    <meta charset="UTF-8"> 
    <meta name="viewport" content="width=device-width, initial-scale=1.0"> 
    <title>Payment History</title> 
    <link rel="stylesheet" href="static\paymentHistory.css"> 
</head> 

<body> 
    <h1 id="title">Payment History</h1>
    
    <button class="button">Log Out</button>

    <div id = "tenant information">
        <table>
            <tr>
                <th>Date</th>
                <th>Time</th>
                <th>Method</th>
                <th>Rent Receipt</th>
            </tr>
        </table>
    </div>
    <button class="button">Go Back</button>
    <script src= "static\paymentHistory.js"></script> 
</body> 

</html> 