<!DOCTYPE html>
<html lang="en"> 

<head> 
    <meta charset="UTF-8"> 
    <meta name="viewport" content="width=device-width, initial-scale=1.0"> 
    <title>Payment History</title> 
    <link rel="stylesheet" href="static\propertyrelatedfinances.css"> 
</head> 

<body> 
    <h1 id="title">Property Related Finances</h1>
    
    <button class="button">Log Out</button>

    <div id = "Property Related Finances">
        <table>
            <tr>
                <th>Maintenance</th>
                <th>Contractor</th>
                <th>Cost</th>
                <th>Date</th>
                <th>Unit</th>
                <th>Complex Address</th>
            </tr>
        </table>
        <button class="button">Add Maintenance</button>
    </div>
    <button class="button">Go Back</button>
    <script src= "static\paymentHistory.js"></script> 
</body> 

</html> 