<!DOCTYPE html>
<html lang="en"> 

<head> 
    <meta charset="UTF-8"> 
    <meta name="viewport" content="width=device-width, initial-scale=1.0"> 
    <title>Rent Receipt</title> 
    <link rel="stylesheet" href="static\RentReceipt.css"> 
</head> 

<body> 
    
    <div id ="arrows">
        <button class="button">&larr; Prev;</button>
        <button class="button">&uarr; Next</button>
    </div>
    <h1 id="title">Rent Receipt</h1>

    <ul id="Rent Receipt">
        <li class="right" id="date"></li>
        <li class="left" id="Payment ID"></li>
        <li class="right" id="Time"></li>
        <li class="left" id="Payment Method"></li>
        <li class="center" id="Rent"></li>
        <li class="center" id="Taxes"></li>
        <li class="right"  id="Total"></li>
    </ul>
    <button class="button">&larr; Go Back</button>
    <script src= "static\RentReceipt.js"></script> 
</body> 

</html> 