<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login Page</title>
    <link rel="stylesheet" href="static\start.css">
</head>

<body>
    <div id="overlay">
        <div id="words">I am a...</div>
    </div>
    <div class="split left option tenant">
        <div class="centered option tenant">Tenant</div>
    </div>
    <div class="split right option landlord">
        <div class="centered option landlord">Landlord</div>
    </div>

    <script src="static\start.js"></script>
</body>

</html>
