<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Setup TOTP</title>
    <!--    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">-->

    <script src="{{url_for('static', filename='qrcode.min.js')}}"></script>
    <script>
        window.onload = function () {
            function loadQRCode(uri) {
                var qrcode = new QRCode(document.getElementById("qrcode"), {
                    text: uri,
                    width: 128,
                    height: 128,
                });
            }
            loadQRCode('{{ totp_uri }}');
        };
    </script>
</head>

<body>
{% if totp_uri %}
<div class="totp-section">
    <div id="qrcode"></div>
    <p>Scan the QR code with your Google Authenticator app or enter the key manually: {{ totp_secret }}</p>

    <form action="{{ url_for('tenant_bp.setup_totp') }}" method="post">
        <div class="section3">
            <label for="OTP">OTP</label>
            <input type="text" placeholder="Enter OTP Number" name="OTP" id="OTP" required>
        </div>
        <div class="section4">
            <button type="submit">Submit OTP</button>
        </div>
    </form>
</div>
{% endif %}
</body>

</html>
