<!DOCTYPE html>
<html lang="en"> 

<head> 
    <meta charset="UTF-8"> 
    <meta name="viewport" content="width=device-width, initial-scale=1.0"> 
    <title>Tenant Home</title> 
    <link rel="stylesheet" href="static\tenanthome.css"> 
</head> 

<body> 
    <h1 id="title">Tenant Home</h1>
    <ul id = menu>
        <li>Contact Landlord</li>
        <li>Upcoming Payments</li>
        <li>Payment History</li>
        <li>Log Out</li>
    </ul>
    <div class="pop-up" id="contact"></div>
    <div class="pop-up" id="error"></div>

    <div id = "tenant information">
        <ul id = bio></ul>
        <p>Renting/Leasing</p>
        <table>
            <tr>
                <th>Renting</th>
                <th>Unit</th>
                <th>Complex Address</th>
            </tr>
        </table>
    </div>
    <script src= "static\tenanthomescript.js"></script> 
</body> 

</html> 