<!DOCTYPE html>
<html lang="en"> 

<head> 
    <meta charset="UTF-8"> 
    <meta name="viewport" content="width=device-width, initial-scale=1.0"> 
    <title>Upcoming Payments</title> 
    <link rel="stylesheet" href="static\UpcomingPayments.css"> 
</head> 

<body> 
    
    <button class="button">Log Out</button>

    <h1 id="title">Upcoming Payments</h1>

    <ul id="Upcoming Payments">
        <li class="left" id="Rent Due">Rent Due</li>
        <li class="right" id="Date"></li>
        <li class="center" id="Rent"></li>
        <li class="center" id="Taxes"></li>
        <li class="right"  id="Total"></li>
    </ul>
    <button class="button">Pay Now</button>
    <script src= "static\UpcomingPayments.js"></script> 
</body> 

</html> 