<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}Landlord Portal{% endblock %}</title>
</head>
<body>
  <header>
    menu button - click appears,covers over screen showing menu

    picture
    </header>
  <!--go into profile-->
  <div id="unitInformation">

  </div>
  <div id="SuggestedTasks">
    <div id="box1:AddExpense"></div>

    <div id="box2:AddNewUnit"></div>
    
    <div id="box3:ContactTenant"></div>

  </div>
  <!--go into profile-->
  <nav>
    <a href="{{ url_for('landlord_bp.landlord_profile', landlord_id=landlord.id) }}">Home</a>
    <a href="{{ url_for('landlord_bp.landlord_tenants', landlord_id=landlord.id) }}">Tenants</a>
    <a href="{{ url_for('landlord_bp.landlord_expenses', landlord_id=landlord.id) }}">Expenses</a>
    <a href="{{ url_for('landlord_bp.landlord_payments', landlord_id=landlord.id) }}">Payments</a>
    <a href="{{ url_for('landlord_bp.create_unit', landlord_id=landlord.id) }}">Add Unit</a>
    <a href="{{ url_for('landlord_bp.create_expense', landlord_id=landlord.id) }}">Add Expense</a>
  </nav>
</body>
</html>