{% extends "landlord_base.html" %}

{% block title %}Unit {{ unit.id }}{% endblock %}

{% block content %}
  <section id="Greeting"><h1>Unit {{ unit.id }}</h1></section>

  <div class="container" id="displayContainer">
    <div class="info" id="displayInfo">
      <div id="Unit-Information">
      <h2>Unit Information</h2>
      <table>
        <tr>
          <td>Unit Number:</td>
          <td>{{ unit.unit_number }}</td>
        </tr>
        <tr>
          <td>Address</td>
          <td>{{ unit.address }}</td>
        </tr>
        <tr>
          <td>Rent</td>
          <td>{{ unit.rent }}</td>
        </tr>
        <tr>
          <td>Lease Start:</td>
          <td>{{ unit.lease_start }}</td>
        </tr>
        <tr>
          <td>Rent Due:</td>
          <td>{{ unit.rent_due }}</td>
        </tr>
        {% if unit.tenant_password %}
        <tr>
          <td>Tenant Sign Up Key:</td>
          <td>{{ unit.tenant_password }}</td>
        </tr>
        {% endif %}
      </table>
      <button id="editButton" >Edit</button>
      </div>
    </div>
  </div>



  <form method="post" action="{{ url_for('landlord_bp.landlord_unit_page', landlord_id=landlord.id, unit_id=unit.id) }}" id="editForm" style="display: none;">
    <h2>Edit Unit Information</h2>
    <div class="edit-info">
      <label for="unit_number">Unit Number:</label>
      <input type="text" id="unit_number" name="unit_number" value="{{ unit.unit_number }}" {% if edit_mode or request.form.get('rent_this_unit') %}required{% endif %}><br>

      <label for="address">Address:</label>
      <input type="text" id="address" name="address" value="{{ unit.address }}" {% if edit_mode or request.form.get('rent_this_unit') %}required{% endif %}><br>

      <label for="rent">Rent:</label>
      <input type="text" id="rent" name="rent" value="{{ unit.rent }}" {% if edit_mode or request.form.get('rent_this_unit') %}required{% endif %}><br>

      <label for="lease_start">Lease Start:</label>
      <input type="date" id="lease_start" name="lease_start" value="{{ unit.lease_start }}" {% if edit_mode or request.form.get('rent_this_unit') %}required{% endif %}><br>

      <label for="rent_due">Rent Due:</label>
      <input type="text" id="rent_due" name="rent_due" value="{{ unit.rent_due }}" {% if edit_mode or request.form.get('rent_this_unit') %}required{% endif %}><br>
      
      <div class="checkbox">
        <label for="rent_this_unit">Rent this Unit</label>
        <input type="checkbox" id="rent_this_unit" name="rent_this_unit">
        <input type="hidden" id="rent_this_unit_hidden" name="rent_this_unit_hidden" value="false">
      </div>
    
    </div>


    <button type="submit" id="submit">Submit</button>
  </form>

  <a href="{{ url_for('landlord_bp.landlord_unit_payments', landlord_id=landlord.id, unit_id=unit.id) }}"><button>Payments</button></a>
  <a href="{{ url_for('landlord_bp.landlord_unit_expenses', landlord_id=landlord.id, unit_id=unit.id) }}"><button>Expenses</button></a>

  <script>
    var editButton = document.getElementById("editButton");
    var displayContainer = document.getElementById("displayContainer");
    var displayInfo = document.getElementById("displayInfo");
    var editForm = document.getElementById("editForm");

    editButton.addEventListener("click", function() {
      if (editButton.innerText === "Edit") {
        editButton.innerText = "Submit";
        displayContainer.style.display = "none";
        editForm.style.display = "block";
      } else {
        editButton.innerText = "Edit";
        displayContainer.style.display = "block";
        editForm.style.display = "none";
      }
    });

    document.getElementById("rent_this_unit").addEventListener("change", function() {
      var checkbox = document.getElementById("rent_this_unit");
      var hiddenInput = document.getElementById("rent_this_unit_hidden");
      hiddenInput.value = checkbox.checked;
    });
  </script>
{% endblock %}