{% extends "landlord_base.html" %}

{% block title %}Unit Payments{% endblock %}

{% block content %}
  <section id="Greeting">
    <h1>Payments</h1>
    <h2>Unit Information</h2>
    <p>Unit Number: {{ unit.unit_number }}</p>
    <p>Address: {{ unit.address }}</p>
  </section>
  <div id="Unit-Information">
  <table id="unitPaymentsTable" class="sortable">
    <thead>
      <tr>
        <th data-column="amount">Amount</th>
        <th data-column="paid">Paid</th>
        <th data-column="date">Date</th>
        <th data-column="tenant_first_name">Tenant First Name</th>
        <th data-column="tenant_last_name">Tenant Last Name</th>
      </tr>
    </thead>
    <tbody>
      {% for payment in payments %}
        <tr>
          <td>${{ payment.amount }}</td>
          <td>{{ payment.paid }}</td>
          <td>{{ payment.date }}</td>
          <td>{{ payment.tenant.first_name }}</td>
          <td>{{ payment.tenant.last_name }}</td>
        </tr>
      {% endfor %}
    </tbody>
  </table>
  </div>
  <script src="{{ url_for('static', filename='sorttable.js') }}"></script>
  <script>
    document.addEventListener('DOMContentLoaded', function() {
      makeSortable(document.getElementById('unitPaymentsTable'));
    });
  </script>
{% endblock %}