<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}{% endblock %}</title>
    <link rel="stylesheet" href="{{url_for('static', filename='base.css')}}">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css" integrity="sha512-" crossorigin="anonymous" />

</head>
<body>
  <div id="sidenav" class="sidenav">
    <a href="javascript:void(0)" class="closebtn" onclick="closeNav()">&times;</a>
    <a href="{{ url_for('landlord_bp.landlord_profile', landlord_id=landlord.id) }}">Home</a>
    <a href="{{ url_for('landlord_bp.landlord_expenses', landlord_id=landlord.id) }}">Expenses</a>
    <a href="{{ url_for('landlord_bp.landlord_tenants', landlord_id=landlord.id) }}">Tenants</a>
    <a href="{{ url_for('landlord_bp.landlord_payments', landlord_id=landlord.id) }}">Payments</a>
  </div>
  <section id="top-menu">
    <span onclick="openNav()">&#9776; Menu </span>
    <div class="dropdown">
      <span onclick="toggleDropdown()">Suggested Tasks</span>
      <div class="Suggested-Tasks-Quick-Links" id="suggestedTasksDropdown">
        <a href="{{ url_for('landlord_bp.landlord_profile', landlord_id=landlord.id) }}#create_expense">Create Expense</a>
        <a href="{{ url_for('landlord_bp.landlord_profile', landlord_id=landlord.id) }}#create_unit">Create Unit</a>
      </div>
    </div>
    <span id="profile" onclick="showProfile()"><i class="fa fa-user" aria-hidden="true"></i></span>
    <div id="User-Pop-up" class="modal">
      <!-- Modal content -->
      <div class="modal-content">
        <div class="modal-header">
          <span class="close" onclick="closeModal()">&times;</span>
          <h1 id="profile-center">Profile</h1>
        </div>
        <div class="modal-body">        
          {% if landlord %}
          <h1>{{ landlord.first_name }} {{ landlord.last_name }}</h1>
          <p>{{landlord.phone_number}}</p>
          <p>{{landlord.email}}</p>
        {% endif %}
        </div>
      </div>
    </div>
    <span id="Logout"><a href="{{url_for('landlord_bp.landlord_logout')}}" style="text-decoration: none;color: whitesmoke;">Logout&nbsp; <i class="fas fa-sign-out-alt"></i></a></span>
  </section>
    <div id="header"></div>
 
  <!--Different information from here-->
  <main>
    {% block content %}{% endblock %}
  </main>
  <script src="{{url_for('static', filename='base.js')}}"></script>
</body>
</html>